<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>predecir-generos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-item>
    <ion-input [(ngModel)]="nombre" placeholder="Nombre"></ion-input>
  </ion-item>

  <ion-button (click)="predecirGenero()">Predecir Género</ion-button>

  <div *ngIf="genero" [ngStyle]="{'background-color': genero === 'male' ? 'blue' : 'pink'}" class="genero-box">
    {{ genero === 'male' ? 'Masculino' : 'Femenino' }}
  </div>
</ion-content>
