<ion-header>
  <ion-toolbar>
    <ion-title>Universidades por País</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-input [(ngModel)]="nombrePais" placeholder="Nombre del País (en inglés)"></ion-input>
  </ion-item>

  <ion-button (click)="buscarUniversidades()">Buscar Universidades</ion-button>

  <ion-list *ngIf="universidades.length > 0">
    <ion-item *ngFor="let universidad of universidades">
      <ion-label>
        <h2>{{ universidad.name }}</h2>
        <p>Domino: {{ universidad.domains }}</p>
      </ion-label>
      <ion-button fill="clear" (click)="abrirPaginaWeb(universidad.web_pages[0])">Sitio Web</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
