<ion-header>
  <ion-toolbar>
    <ion-title>Acerca de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-img [src]="'assets/foto.png'" alt="Tu Foto"></ion-img>
    <ion-card-content>
      <h2>Sander Arias</h2>
      <p>Desarrollador / QA Tester / Analista de datos.</p>
      <ion-list>
        <ion-item>
          <ion-icon name="mail"></ion-icon>
          <ion-label>Correo Electrónico: 202010182@itla.edu.do</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="call"></ion-icon>
          <ion-label>Teléfono: +829-525-1449</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
